#home{
    align-items: center;
/*     border: solid 3px yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
/*     height: 80vh; */
    margin: 10px auto;
/*     min-height: 80vh;
    min-width: 60vw;
    width: 80vw; */
}

#buttons{
    border: solid 3px yellow;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 50px;
}

.button--main{
    background-color: transparent;
    border: solid 1px yellow;
    border-radius: 20px;
    display: flex;
    margin: 10px 50px;
    padding: 8px 30px;
}

.team--container{
    display: none;
/*     display: flex; */
    justify-content: center;
    margin: 10px;
    width: 80vw;
}

.table--team{
    border: solid 4px yellow;
    margin: 10px;
    padding: 8px;   
}

table th{
/*     color: red; */
}
table thead tr th{
    border-bottom: solid 1px rgb(43, 157, 234);
}

table tbody tr td{
    border-bottom: solid 1px yellow;
    margin: 4px 10px;
    padding: 10px 20px;
}

/* table tr td:nth-of-type(1){
    background-color: aqua;
} */

/* table tr td{
    border: solid 1px red;
} */